.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.left-text {
    float:left;
    width:41%;
}

.right-text {
    float: right;
    padding:0 0 0 2%;
    width:9%;
}

.search-trending {
    padding: 0 0 0 0;
    background: rgb(237,241,245);
    display: flex;
    flex-wrap: wrap;
}

.prev-title {
    padding: 0 0 0 0;
    margin-top: 1px;
    margin-bottom: 1px;
    background: rgb(237,241,245);
}

.v-for {
    width: 25%;
    padding: 10px 25px 25px 35px;
}

.v-for img {
    height: 340px;
    width: 100%;
}

.v-for:hover {
    color: rgb(232,93,117);
}

.v-for img {
    border-radius: 10px;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.v-for img:hover {
    opacity: 0.8;
    filter: alpha(opacity=40);
}