.login {
    margin-left: 100px;
    padding-right: 24px;
}

.signup {
    background: #3577ff;
    border-radius: 6px;
    color: white;
    font-weight: 800;
    margin-right: -70px;
    padding: 10px 15px;
    transition: box-shadow .6s ease, transform .2s ease-in-out;
}

.signup:hover {
    box-shadow: 0 2px 10px rgb(8 150 230);
    color: white;
    transform: scale(1.03);
}

.auth-form {
    margin-bottom: 50%;
    display: block;
}

.auth-form .form {
    display: block;
    max-width: 400px;
    width: 100%;
    background: rgb(251,251,251);
    border-radius: 4px;
    padding: 40px;
    text-align: center;
    margin-top: 60px;
}

.auth-form .title {
    color: #26343F;
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 60px;
}

form {
    display: block;
    margin-top: 0;
}

.auth-form .al-input {
    background: rgba(229,235,241,.7);
    border-radius: 4px;
    border: 0;
    box-shadow: none;
    color: rgb(38,52,63);
    font-size: 1.4rem;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    margin-bottom: 25px;
    padding: 0 15px;
    width: 100%;
}

.auth-form .SingUpButton {
    background: rgb(18,172,253);
    border-radius: 3px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 40px;
    padding: 10px 30px;
}

.loginpage_content {
    display: flex;
    flex: 1 0 auto;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
